target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.mvn/
*.iml
.idea/
.settings/
bin/
_site/
.classpath
.eclipse-pmd
.project
*.launch
.springBeans
.apt_generated
.factorypath
.profiler
git.properties

src/gitbook/docs
src/gitbook/_book
src/gitbook/*.pdf
src/gitbook/*.epub
src/gitbook/*.mobi

bower_components
node_modules

.DS_Store
.tmp

/deprecated/
**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources
**/oss-workspace
**/tmp.sh
